body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.login {
  height: 100vh;
  background-image: url("background-image: url("https://images.unsplash.com/photo-1600880292203-757bb62b4baf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  display: flex;
  justify-content: right;
  align-items: center;
}
.login_container {
min-height: 100%;
width: 300px;
background-color: #f8f1f1;
box-sizing: border-box;
padding: 33px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.login_title {
  margin-bottom: 32px;
  color: #303030;
}

.login_title::before {
  /* colocar o símbolo do site */
}

.login_access {
  font-weight: bold;
  color: #303030
}
.login_form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
}

.login_input {
  height: 48px;
  width: 100%;
  box-sizing: border-box;
  padding-left: 8px;
  border: unset;
  outline: none;
  border-radius: 8px;
}

.login_input_border {
  height: 1px;
  width: 100%;
  margin-bottom: 16px;
  background-color: #cfcfcf;
  transition: .3s ease-in-out;
}

.login_reset_border {
  height: 1px;
  width: 100%;
  margin-bottom: 40px;
  background-color: #cfcfcf;
  transition: .3s;
}


.login_input_border::after {
  content: '';
  display: block;
  height: 1px;
  width: 0;
  margin-bottom: 16px;
  background: linear-gradient(120deg, #E75590, #00C2CB);
  transform: .3s ease-in-out;
}

.login_submit {
height: 48px;
width: 100%;
outline: none;
background: rgba(167, 49, 49, 0.74);
background-size: 200%;
margin-bottom: 32px;
color: #ffffff;
font-size: 16px;
border: unset;
border-radius: 4px;
cursor: pointer;

}

.login_submit:hover {
  border: 2px solid rgba(167, 49, 49, 0.74) ;
  font-weight: bold;

  }
  

.login_reset {
  padding-bottom: 20px;
  font-size: 15px;
  color: #3f3b3b;
  text-decoration: none;
  font-style: italic;
   
}

.login_reset:hover {
  text-decoration: underline;
  
}

.login_register_question{
  color: #303030;
  text-align: center;
  padding-bottom: 20px;
}
.login_register {
  
  color: rgba(167, 49, 49, 0.74);
  text-decoration: none;
  padding: 10px;
  border-radius: 4px;
  border: 2px solid rgba(167, 49, 49, 0.74);
  transition: .3s;
}

.login_register:hover {
  border: 2px solid rgba(167, 49, 49, 0.74);
  text-decoration: underline;
  font-weight: bold;

  }
  
  @media screen and (max-width: 760px)  {
    .login {
      height: 100vh;
      background-image: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
  }
  
